<style>
.form-no-space .layui-form-item .layui-inline {
  margin-right: 0;
}
</style>

<div id="mTestItems" class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <form id="formNewProject" class="layui-form form-no-space">
        <div class="layui-fluid">
          <div class="layui-form-item layui-row">
            <div class="layui-inline layui-col-md6">
              <label class="layui-form-label">字段1</label>
              <div class="layui-input-block">
                <input class="layui-input" type="text">
              </div>
            </div>
            <div class="layui-inline layui-col-md6">
              <label class="layui-form-label">字段2</label>
              <div class="layui-input-block">
                <input class="layui-input" type="text">
              </div>
            </div>
            <div class="layui-inline layui-col-md6">
              <label class="layui-form-label">字段3</label>
              <div class="layui-input-block">
                <input class="layui-input" type="text">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
