<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwb.record.system.dao.UserDao" >
	
	<select id="getList" resultType="com.xwb.record.system.entity.SysUser" parameterType="java.util.Map">
		select id id,
			user_name username,
			user_nickname nickname,
			user_gender gender,
			user_birthday birthday,
			user_phone phone,
			user_email email,
			user_introduce introduce
		from sys_user
	 	order by created_time desc
		limit #{offset},#{limit}	
	</select>
	
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from sys_user
	</select>
	
	<select id="getUserById" resultType="com.xwb.record.system.entity.SysUser" parameterType="java.lang.String">
		select * from sys_user where id = #{id}
	</select>
	
	<select id="getUserByName" resultType="com.xwb.record.system.entity.SysUser" parameterType="java.lang.String">
		select * from sys_user where user_name = #{value} and delete_flag = '0'
	</select>
	
	<insert id="insert" parameterType="com.xwb.record.system.entity.SysUser">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >id,</if>
			<if test="username != null" >user_name,</if>
			<if test="password != null" >user_password,</if>
			<if test="nickname != null" >user_nickname,</if>
			<if test="gender != null" >user_gender,</if>
			<if test="birthday != null" >user_birthday,</if>
			<if test="phone != null" >user_phone,</if>
			<if test="email != null" >user_email,</if>
			<if test="introduce != null" >user_introduce,</if>
			<if test="role != null" >user_role,</if>
			<if test="salt != null" >user_salt,</if>
			<if test="createdId != null" >created_by,</if>
			<if test="createdTime != null" >created_time,</if>
			<if test="lastModifiedId != null" >last_modified_by,</if>
			<if test="lastModifiedTime != null" >last_modified_time,</if>
			<if test="remarks != null" >remarks,</if>
			<if test="deleteFlag != null" >delete_flag,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >#{id, jdbcType=VARCHAR},</if>
			<if test="username != null" >#{username, jdbcType=VARCHAR},</if>
			<if test="password != null" >#{password, jdbcType=VARCHAR},</if>
			<if test="nickname != null" >#{nickname, jdbcType=VARCHAR},</if>
			<if test="gender != null" >#{gender, jdbcType=VARCHAR},</if>
			<if test="birthday != null" >#{birthday, jdbcType=VARCHAR},</if>
			<if test="phone != null" >#{phone, jdbcType=VARCHAR},</if>
			<if test="email != null" >#{email, jdbcType=VARCHAR},</if>
			<if test="introduce != null" >#{introduce, jdbcType=VARCHAR},</if>
			<if test="role != null" >#{role, jdbcType=VARCHAR},</if>
			<if test="salt != null" >#{salt, jdbcType=VARCHAR},</if>
			<if test="createdId != null" >#{createdId, jdbcType=VARCHAR},</if>
			<if test="createdTime != null" >#{createdTime, jdbcType=VARCHAR},</if>
			<if test="lastModifiedId != null" >#{lastModifiedId, jdbcType=VARCHAR},</if>
			<if test="lastModifiedTime != null" >#{lastModifiedTime, jdbcType=VARCHAR},</if>
			<if test="remarks != null" >#{remarks, jdbcType=VARCHAR},</if>
			<if test="deleteFlag != null" >#{deleteFlag, jdbcType=VARCHAR},</if>
		</trim>
	</insert>
</mapper>
